:root, html.p-theme-light {
    --p-font-family-sans: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', 'PingFang SC', 'Microsoft Yahei UI', '微软雅黑', sans-serif;
}

div.Polaris-EmptyState__ImageContainer > img {
    image-rendering: pixelated;
    pointer-events: none;
}